.skill {
  width: 200px;
  height: 200px;
  position: relative;
}

.outer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #464556;
}

.inner {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #363447;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result {
  color: #FFFFFF;
  text-align: center;

  span {
    font-size: 34px;
    font-weight: 700;
    font-size: 34px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
  }
}

circle {
  fill: none;
  stroke-width: 33px;
  stroke-dasharray: 518;
  stroke-dashoffset: 518;
  animation: anim 1.3s cubic-bezier(0.915, 0.610, 0.355, 1) forwards;
}

svg {
  transform: rotate(270deg);
  position: absolute;
  top: 0;
  left: 0;
}