.grid {
  display: grid;
  row-gap: 59px;
  column-gap: 32px;
  padding: 80px;
  height: 100%;

  @media screen and (min-width:600px) {
    grid-template-rows: 440px 440px 440px 440px;
    grid-template-columns: 800px;
  }

  @media screen and (min-width: 1024px) {
    grid-template-rows: 379px auto;
    grid-template-columns: 296px 351px 409px;
  }

  &__nps-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 29px 48px;

    background: #363447;
    box-shadow: 3px 4px 26px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

    h1 {
      color: #FFFFFF;
      font-size: 24px;
      font-weight: 600;
      align-self: center;

      margin-bottom: 77px;
    }

    svg {
      margin-bottom: 16px;;
    }

    &__status {
      color: #81FBB8;      
      font-size: 24px;
      font-weight: 600;
      align-self: center;
    }

    &__result {
      color: #FFFFFF;      
      font-size: 14px;
      font-weight: 400;
      align-self: center;
      margin-top: auto;
    }
  }

  &__sales-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 29px 48px;

    background: #363447;
    box-shadow: 3px 4px 26px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

    h1 {
      color: #FFFFFF;
      font-size: 24px;
      font-weight: 600;
      align-self: center;
      margin-bottom: 32px;
    }

    &__bullets { 
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: auto;

      font-weight: 500;
      font-size: 14px;
      color: #FFFFFF;

      &__dot {
        width: 15px;
        height: 15px;
        border-radius: 999px;
        margin-right: 4px;

        &.primary {
          background-color: #4A4556;
        }

        &.second {
          background: linear-gradient(121.94deg, #CE9FFC 15.98%, #7367F0 82.85%);
        }

        &.third {
          background: linear-gradient(121.94deg, #DF9780 15.98%, #A66DE9 82.85%);
        }
      }

      &__result {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        font-weight: 400;

        &__value {
          margin-left: 10px;
        }
      }
    }
  }

  &__meta-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #363447;
    box-shadow: 3px 4px 26px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
  }

  &__week-sales-card {
    display: flex;
    height: 314px;

    background: #363447;
    box-shadow: 3px 4px 26px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

    
    @media screen and (min-width:600px) {
      grid-column: auto;
    }

    @media screen and (min-width: 1024px) {
      grid-column: 1 / 4;
    }
  }
}